// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
	width: 1216px;
}

#main.column.col-sm-9 {
	width: 100%;
}

.search {
	margin-left: 25px;
}

.button-show {
	width: 33%;
	float: left;
}